{%extends 'layout.html'%}

{% from "button/macro.njk" import button %}
{% from "summary-list/macro.njk" import summaryList %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Review Your Wizarding Profile ✨</h1>

      <h2 class="nhsuk-heading-m">
        Your Magical Details
      </h2>

      {% set superPowersHtml %}
            {% if data.SuperPowers and data.SuperPowers | length %}
              <ul class="nhsuk-list nhsuk-list--bullet">
                {% for power in data.SuperPowers %}
                  <li>{{ power }}</li>
                {% endfor %}
              </ul>
            {% else %}
              <p>No magical powers revealed.</p>
            {% endif %}
          {% endset %}

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Signs of magical awakening?"
            },
            value: {
              text: data.Doyouhavesymptoms
            },
            actions: {
              items: [
                {
                  href: "symptoms",
                  text: "Change",
                  visuallyHiddenText: "NHS number"
                }
              ]
            }
          },
          {
            key: {
              text: "Your Magical Story"
            },
            value: {
              text: data.details
            },
            actions: {
              items: [
                {
                  href: "details",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Your Birth Date (For Astrological Wizarding Compatibility)"
            },
            value: {
              text: data.dateOfBirth | formatDate
            },
            actions: {
              items: [
                {
                  href: "date-of-birth",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Magical Powers Detected"
            },
            value: {
              html: superPowersHtml
            },
            actions: {
              items: [
                {
                  href: "super-powers",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }


         ]
      }) }}

      <h2 class="nhsuk-heading-m">
        Ready to Join the Wizarding Community? 🧙‍♂️
      </h2>

      <p>Your application will be reviewed by our Magical Council (and they promise to keep your secrets). Once approved, we'll schedule your official testing ceremony!</p>

      <form action="/confirmation" method="post" novalidate>
        {{ button({
          text: "Confirm and send"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
