{%extends 'layout.html'%}

{% from "back-link/macro.njk" import backLink %}
{% from "button/macro.njk" import button %}
{% from "panel/macro.njk" import panel %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "date-of-birth",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% set panelHtml %}
        <p>According to our records, you were born on <strong>{{ data.dateOfBirth | formatDate}}</strong>. That's a wizard-worthy birth date if we've ever seen one! (Or you might have jumped a few centuries—happens.)</p>
        <div class="nhsuk-button-group">
          {{ button({
            text: "Yep, that's me!",
            classes: "nhsuk-button--reverse",
            href: "check-answers"
          }) }}
          <a href="date-of-birth">Oops, let me fix that</a>
        </div>
      {% endset %}

      {{ panel({
        titleText: "⚠️ Critical Wizarding Alert: Age Verification",
        titleSize: "l",
        classes: "nhsuk-panel--interruption",
        html: panelHtml
      }) }}

    </div>
  </div>
{% endblock %}
