{%extends 'layout.html'%}

{% from "back-link/macro.njk" import backLink %}
{% from "button/macro.njk" import button %}
{% from "radios/macro.njk" import radios %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "/start",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/symptoms-answer" method="post" novalidate>

        {{ radios({
          name: "Doyouhavesymptoms",
          fieldset: {
            legend: {
              text: "Have you accidentally set something on fire with your mind? 🔥",
              size: "l",
              isPageHeading: true
            }
          },
          value: data.Doyouhavesymptoms,
          items: [
            {
              value: "Yes",
              text: "Yes, I'm basically a walking magnet for magical mishaps"
            },
            {
              value: "No",
              text: "No, I'm disappointingly mundane"
            },
            {
              value: "I have no idea",
              text: "Maybe? My parents raised me in a cupboard under the stairs so I'm not sure what normal is"
            }
            

          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
